name: Python CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

permissions:
  contents: read
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8

      - name: Lint code with flake8
        working-directory: backend
        run: |
          flake8 api core db models schema tests --max-line-length=120

      - name: Run unit tests
        working-directory: backend
        run: |
          export PYTHONPATH=.
          pytest tests

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend
        run: |
          REPO_OWNER_LOWER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker build -f backend/Dockerfile -t ghcr.io/$REPO_OWNER_LOWER/file_management-backend:${{ github.sha }} ./backend
          docker tag ghcr.io/$REPO_OWNER_LOWER/file_management-backend:${{ github.sha }} ghcr.io/$REPO_OWNER_LOWER/file_management-backend:latest
          docker push ghcr.io/$REPO_OWNER_LOWER/file_management-backend:latest
          docker push ghcr.io/$REPO_OWNER_LOWER/file_management-backend:${{ github.sha }}

      - name: Build and push frontend
        run: |
          REPO_OWNER_LOWER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker build -f frontend/Dockerfile -t ghcr.io/$REPO_OWNER_LOWER/file_management-frontend:${{ github.sha }} ./frontend
          docker tag ghcr.io/$REPO_OWNER_LOWER/file_management-frontend:${{ github.sha }} ghcr.io/$REPO_OWNER_LOWER/file_management-frontend:latest
          docker push ghcr.io/$REPO_OWNER_LOWER/file_management-frontend:latest
          docker push ghcr.io/$REPO_OWNER_LOWER/file_management-frontend:${{ github.sha }}